body{background-color:white;}

.container {
    position: relative;
  min-height: 100vh; /*is above footer */
  }
  
  .flex-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 300px;
    left: 0;
    right: 0;
  }
  .flex-box {
    flex: 0 0 30%;
    border: 1px solid black;
    padding: 10px;
  }

 #bottom{
    background-color: darkgray;
  color: whitesmoke;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
 }



 





